#waitlist-wrapper {

    margin: 0;
    padding: 0;

}


input {
   padding: 0.83rem;
   border-style: none;
   margin: 0;
}

button {

    border-style: none;
    background: white; 
    padding: 0.66rem ;

}

body {

    background: linear-gradient(pink, violet)

}
