#waitlist-wrapper {

    margin: auto;
    padding: .65rem 1rem 0.65rem 0.65rem;
    border-radius: 1%;
    display: inline;
    width: 41aws;

}


input {
  padding: 0.38rem;
  border-radius: 5%;
  border-style: outset groove 2px navy;
  margin: 0.1rem;
}

button {

    padding: 0.38rem;
    border-radius: 5%;
    border-style: groove;
    margin: 0.1rem;

}
